.cardGrid {
    height: 600px;
    width: 600px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background-color: #013a35;
  
    .card {
      position: relative;
      background-color: #013a35;
      color: white;
      border: 1px solid #013a35;
      overflow: hidden;
      display: flex;
      flex-direction: column;
      height: 100%;
      transition: transform 0.3s ease-in-out;
      transform: scale(1);
  
      &:hover {
        transform: scale(1.05); 
        z-index: 10;
      }
  
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
  
      .cardContent {
        position: absolute; 
        bottom: 10%;
        left: 10%; 
        right: 10%;
        color: white;
        z-index: 2;
        text-align: left; 
  
        h3 {
          font-size: 1.5rem;
          font-weight: 700;
          margin: 0 0 10px 0;
        }
  
        .link {
          font-size: 0.9rem;
          color: #ffa500;
          text-decoration: none;
          display: flex;
          align-items: center;
  
          span {
            font-size: 1rem;
            margin-left: 5px;
            transition: transform 0.3s;
          }
  
          &:hover span {
            transform: translateX(5px);
          }
        }
      }
    }
  }
  
  @media (max-width: 1024px) {
    .cardGrid {
      width: 100%;
      height: auto;
      grid-template-columns: repeat(2, 1fr);
    }
  
    .card {
      height: auto;
    }
  
    .cardContent {
      bottom: 15%;
      left: 15%;
      right: 15%;
    }
  
    .card img {
      object-fit: cover;
    }
  }
  
  @media (max-width: 768px) {
    .cardGrid {
      grid-template-columns: 1fr;
      padding: 10px;
    }
  
    .card {
      height: auto; 
    }
  
    .cardContent {
      bottom: 10%; 
      left: 5%; 
      right: 5%;
      text-align: center;
    }
  
    .cardContent h3 {
      font-size: 1.2rem;
    }
  
    .cardContent .link {
      font-size: 0.8rem;
    }
  }
  