.footer {
  background-color: #004d40;
  color: white;
  padding: 2rem 5rem;

  .desktopFooter {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    .footerLogoWrapper {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      gap: 15px;
    }

    .address,
    .companyInfo {
      h3 {
        font-weight: 700;
        font-size: 1.2rem;
        margin-bottom: 10px;
      }

      p {
        font-size: 1rem;
        white-space: pre-line;
        color: gray;
      }
    }

    .developer {
      margin-top: 12px;

      a {
        color: #ff9800;
        text-decoration: none;
      }
    }
  }

  .mobileFooter {
    display: none;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 1rem;


    .address {
      margin-bottom: 1rem;

      h3 {
        font-weight: 700;
        font-size: 1rem;
        margin-bottom: 8px;
      }

      p {
        font-size: 0.9rem;
        line-height: 1.4;
        margin: 4px 0;
      }
    }

    .companyInfo {
      margin-bottom: 1rem;

      p {
        font-size: 0.9rem;
        line-height: 1.4;
        margin: 4px 0;
      }
    }

    .developer {
      margin-top: 12px;

      a {
        color: #ff9800;
        text-decoration: none;
      }
    }
  }

  @media (max-width: 900px) {
    padding: 1rem 2rem;

    .desktopFooter {
      display: none;
    }

    .mobileFooter {
      display: flex;

      .footerLogoWrapper {
        margin-bottom: 2rem;
      }
    }

  }
}
