.header {
  background: transparent;
  color: white;
  width: 100%;
  padding: 2rem 6rem;
 
  @media (max-width: 1024px) {
    padding: 1rem 3rem;
  }
  margin-bottom: 2rem;
  .container {
    width: 100%;
  }

  .desktopHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;


    .contactInfo {
      display: flex;
      gap: 50px;

      .address,
      .phone {
        font-size: 12px;

        strong {
          display: block;
          font-size: 14px;
          font-weight: bold;
        }

        p {
          line-height: 1.4;
        }
      }

      .phone {
        text-align: right;

        strong {
          font-size: 16px;
        }
      }
    }

    .callButton {
      border: 1px solid #E97550;
      background: transparent;
      color: white;
      padding: 10px 20px;
      font-size: 14px;
      cursor: pointer;
      transition: background 0.3s, color 0.3s;

      &:hover {
        background: #E97550;
        color: black;
      }
    }
  }

  .mobileHeader {
    display: none;
    align-items: center;
    justify-content: space-between;
    width: 100%;

    

    .phoneIcon {
      cursor: pointer;

      img {
        width: 30px;
        height: 30px;
      }
    }
  }

  @media (max-width: 1024px) {
    .desktopHeader {
      display: none;
    }

    .mobileHeader {
      width: 100%;
      display: flex;
      justify-content: space-between;
    }
  }
}
