.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.popup {
  background: #fff;
  width: 90%;
  max-width: 500px;
  border-radius: 12px;
  position: relative;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
  text-align: center;

  .header {
    h2 {
      padding-top: 2rem;
      color: #063536;
      margin: 0;
      font-size: 28px;
      font-weight: bold;
    }

    p {
      color: #063536;
      font-size: 14px;
      padding-left: 1rem;
      padding-right: 1rem;
      padding-top: 0.6rem;
      margin-top: 10px;
    }
  }

  form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 1.2rem;
    margin-top: 20px;

    label {
      font-size: 14px;
      color: #333;
    }

    input[type="tel"],
    textarea {
      width: 100%;
      padding: 12px;
      font-size: 14px;
      border: 1px solid #ddd;
      border-radius: 8px;
      outline: none;
    }

    textarea {
      resize: none;
      height: 100px;
    }

    .checkboxWrapper {
      display: flex;
      align-items: center;
      gap: 10px;

      label {
        font-size: 12px;
        color: #666;
      }
    }

    .submitButton {
      background: #f26726;
      color: #fff;
      padding: 12px;
      border: none;
      border-radius: 8px;
      font-size: 16px;
      cursor: pointer;
      transition: background 0.3s;

      &:hover {
        background: #d2551e;
      }
    }
  }
}

.closeButton {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 22px;
  cursor: pointer;
}
